<table style="width:100%">
    <tr>
        <th> ISBN: </th>
        <td> {{boek?.isbn}} </td>
    </tr>
    <tr>
        <th> Titel: </th>
        <td> {{boek?.titel}} </td>
    </tr>
    <tr>
        <th> Auteur: </th>
        <td> {{boek?.auteur.naam}} </td>
    </tr>
    <tr>
        <th> Genre: </th>
        <td> {{boek?.genre.naam}} </td>
    </tr>
    <tr>
        <th> Uitgegeven: </th>
        <td> {{boek?.uitgegeven}} </td>
    </tr>
    <tr>
        <th> Cover: </th>
        <td> <img src={{boek?.cover}}/>
        </td>
    </tr>
    <tr>
        <th> Sterren: </th>
        <td> {{boek?.sterren}} </td>
    </tr>
    <tr>
        <th> Tags: </th>
        <td> {{boek?.tags}}</td>
    </tr>
</table>