<div>
  <table style="width:100%">
    <tr>
      <th>ISBN</th>
      <th>Titel</th>
      <th>Tags</th>
    </tr>
    <tr *ngFor="let boek of boeken">
      <td><a [routerLink]="['detail/', boek.isbn]">{{boek?.isbn}}</a></td>
      <td>{{boek?.titel}}</td>
      <td>{{boek?.tags}}</td>
      <a class='btn btn-info' routerLink="/boeken/{{boek?.isbn}}/edit" routerLinkActive="active">Bewerken</a>
      <a class='btn btn-danger' (click)='deleteBoek(boek.isbn)' style='width:80px'>X</a>
    </tr>
  </table>
</div>