<div>
  <table style="width:100%">
    <tr>
      <th>Id</th>
      <th>Naam</th>
    </tr>
    <tr *ngFor="let auteur of auteurs">
      <td>{{auteur?.id}}</td>
      <td>{{auteur?.naam}}</td>
      <a class='btn btn-info' routerLink="/auteurs/{{auteur?.id}}/edit" routerLinkActive="active">Bewerken</a>
      <a class='btn btn-danger' (click)='deleteAuteur(auteur.id)' style='width:80px'>X</a>
    </tr>
  </table>
</div>