<div>
  <table style="width:100%">
    <tr>
      <th>Id</th>
      <th>Naam</th>
    </tr>
    <tr *ngFor="let genre of genres">
      <td>{{genre?.id}}</td>
      <td>{{genre?.naam}}</td>
      <a class='btn btn-info' routerLink="/genres/{{genre?.id}}/edit" routerLinkActive="active">Bewerken</a>
      <a class='btn btn-danger' (click)='deleteGenre(genre.id)' style='width:80px'>X</a>
    </tr>
  </table>
</div>