img {
    margin-top: 10px;
    max-height: 250px;
    max-width: 250px;
}

input{
    width: 50%;
    margin-left: auto; 
    margin-right: auto;
}

select{
    width: 50%;
    margin-left: auto; 
    margin-right: auto;
}