<div class="container">
  <h2>Boek aanpassen</h2>
  <form (ngSubmit)="onSubmit()" #boekForm="ngForm">
    <div class="form-group" *ngIf="boekToevoegen">
      <label for="isbn">ISBN-nummer: </label>
      <input type="text" class="form-control" id="isbn" required [(ngModel)]="boek.isbn" name="isbn">
    </div>
    <div class="form-group">
      <label for="titel">Titel: </label>
      <input type="text" class="form-control" id="titel" required [(ngModel)]="boek.titel" name="titel">
    </div>
    <div class="form-group">
      <label for="genre">Genre: </label>
      <select class="form-control" id="genre" required [(ngModel)]="boek.genre.id" name="genre">
        <option *ngFor="let genre of genres" [ngValue]="genre.id">{{genre.naam}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="auteur">Auteur: </label>
      <select class="form-control" id="auteur" required [(ngModel)]="boek.auteur.id" name="auteur">
        <option *ngFor="let auteur of auteurs" [ngValue]="auteur.id">{{auteur.naam}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="cover">Cover: </label>
      <input type="text" class="form-control" id="cover" [(ngModel)]="boek.cover" name="cover">
      <img src={{boek?.cover}}/>
    </div>
    <div class="form-group">
      <label for="uitgegeven">Uitgegeven: </label>
      <input type="text" class="form-control" id="uitgegeven" [(ngModel)]="boek.uitgegeven" name="uitgegeven">
    </div>
    <div class="form-group">
      <label for="prijs">Prijs: </label>
      <input type="text" class="form-control" id="prijs" [(ngModel)]="boek.prijs" name="prijs">
    </div>
    <div class="form-group">
      <label for="tag">Tags: </label>
      <div *ngFor="let tag of boek.tags">
        <output type="text">{{tag}}</output>
        <button type="button" class="btn btn-danger" (click)="removeTag(tag)">x</button><br>
      </div>
      <input type="text" class="form-control" id="tag" name="tag" #tag>
      <button type="button" class="btn btn-success" (click)="addTag(tag.value); tag.value=''">Toevoegen</button>
    </div>
    <div class="form-group">
      <label for="sterren">Sterren: </label>
      <input type="text" class="form-control" id="sterren" [(ngModel)]="boek.sterren" name="sterren">
    </div>
    <button type="submit" class="btn btn-success" *ngIf="boekToevoegen; else boekAanpassen">Toevoegen</button>
    <ng-template #boekAanpassen>
      <button type="submit" class="btn btn-success">Aanpassen</button>
    </ng-template>
  </form>
</div>