<nav>
  <a routerLink="/boeken" routerLinkActive="active">Boeken</a>
  <a routerLink="/auteurs" routerLinkActive="active">Auteurs</a>
  <a routerLink="/genres" routerLinkActive="active">Genre</a>
  <a routerLink="/boeken/add" routerLinkActive="active">Boek posten</a>
  <a routerLink="/auteurs/add" routerLinkActive="active">Auteur posten</a>
  <a routerLink="/genres/add" routerLinkActive="active">Genre posten</a>
</nav>